openapi: 3.0.3
info:
  title: Universal Translator API
  description: 支援繁體中文、美式英語、日文、韓文的即時翻譯後端服務。
  version: 1.0.0
servers:
  - url: https://api.universal-translator.com/v1
    description: 正式伺服器

paths:
  /translate:
    post:
      summary: 翻譯輸入文字
      description: 提供來源語言與目標語言，回傳翻譯結果。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_lang:
                  type: string
                  enum: [zh-TW, en-US, ja-JP, ko-KR]
                  description: 來源語言（預設 zh-TW）
                  example: zh-TW
                target_lang:
                  type: string
                  enum: [zh-TW, en-US, ja-JP, ko-KR]
                  description: 目標語言
                  example: en-US
                text:
                  type: string
                  description: 要翻譯的文字內容
                  example: 我想請你幫我翻譯這段話。
              required:
                - source_lang
                - target_lang
                - text
      responses:
        '200':
          description: 翻譯成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  translated_text:
                    type: string
                    example: I want you to help me translate this sentence.
        '400':
          description: 無效請求（參數缺失或錯誤）
        '500':
          description: 翻譯服務錯誤

  /languages:
    get:
      summary: 取得支援語言列表
      description: 回傳目前支援的語言代碼與名稱。
      responses:
        '200':
          description: 語言列表成功取得
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: zh-TW
                        name:
                          type: string
                          example: 繁體中文

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - ApiKeyAuth: []

tags:
  - name: Translation
    description: 翻譯相關功能
  - name: Languages
    description: 語言設定

